[Unit]
Description=Pisa Outer tracker services via podman-compose
After=network.target
StartLimitIntervalSec=0

[Service]
Type=oneshot
RemainAfterExit=true

WorkingDirectory=/root/serverconfig
ExecStart=/usr/bin/podman-compose  --env pisaoutertracker.env up -d 
ExecStop=/usr/bin/podman-compose  --env pisaoutertracker.env  down
Environment=LOG_LEVEL=error 

User=root
Group=root

[Install]
WantedBy=multi-user.target
